<!-- <h3 class="section-title">Statement</h3> -->
<div class="home-statement justify-content-center">
  <%= image_tag("statement.svg", :alt => "Statement") %>
  <p class="home-statement-txt">
    <span class="home-statement-txt-clear">Through an</span> intersectional platform,
    <span class="home-statement-txt-clear">we</span> empower local businesses
    <span class="home-statement-txt-clear">and entrepreneurs from underrepresented
    communities by</span> making them more visible <span class="home-statement-txt-clear">to
    their communities and others that would like
    to support them, thereby</span> helping to strengthen
    the economic and political power of these communities.
  </p>
</div>
