<div class="main container-md mb-5">
  <div class="row justify-content-center registerHead text-justify-center">
    <div class="textRegister col-12">
      <p>Thank you for contacting us, we will get in touch with you soon!</p>
    </div>
    <div class="imgRegister col-12 order-first order-md-0 my-5 my-md-0">
      <%= image_tag("oh_yeah.svg", :alt => "Bobis") %>
    </div>
  </div>
</div>

<style media="screen">
  .text-justify-center {
    text-align: center;
  }

  .main {
    margin-top: 50px;
  }

  body {
    height: 100vh;
  }
</style>
