<div class="main container-md mb-5">
  <h1>Who is BOBI?</h1>
  <p>
    BOBI is that friend that listens and really understands, or rather, that feels you. It’s that friend that you feel you have a true connection to. It’s that one friend who gives the best recommendations for services, you can trust blindly. Everybody who arrives in a new place meets an unexpected friend, who with kindness opens doors, makes hard things easier, and makes you feel that you can belong in this new place. We call this friend BOBI.
    <br/>
    Luckily we had our share of BOBIs in our lives and they have inspired us to give back. BOBI is a play on words of all the previous names we had in mind. But also stands for Bold and Beautiful Individuals to celebrate all the BOBIs we met in our lives.
  </p>

  <h1>What FINDBOBI does</h1>
  <h3>For minority businesses</h3>
  <p>
    FINDBOBI showcases local services and professionals from underrepresented communities to potential customers from their communities and others that would like to support them. At our core, we bring local and underrepresented businesses more customers. We thereby support them to generate more revenue.
  </p>

  <h3>For the end consumer</h3>
  <p>
    Often at times, people from underrepresented communities seek out minority businesses because they possess a certain skill, expertise, or specialty that is unique to that underrepresented community. Besides, consumers from underrepresented communities sometimes prefer services from similar communities as they speak the same language and understand cultural differences and biases. Moreover, they favor these businesses as they would like to support them to become successful.
  </p>
  <p>
    At the moment, these potential customers have to search multiple online forums, Facebook, or telegram groups to find a trusted and recommended minority business that has the sought-after expertise, is from their community, speaks their language, or shares similar values.
  </p>
  <p>
    For the users, we provide a trusted, dedicated, crowd-sourced, open-source, and user-friendly platform, where they can discover businesses and services that are unique to their needs, values, and culture.
  </p>

  <h1>Why we do it</h1>
  <p>
    Like-minded people around us make life more fulfilling. A shop where the owner or security won’t follow you around, a cook that makes your traditional food, it reminds you of home, anyone who has your type of humor, a doctor that understands the unique beauty of your skin, a hairdresser that knows how to deal with your unique hair - that's not so unique after all - since almost everyone in your home country has it XD, makes life more fun and easier.
  </p>
</div>


<style media="screen">
  body {
    height: 100vh;
  }

  .main {
    padding-top: 20px;
  }
</style>
